<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769307324915-bc5di09l94o3igefj6cc0rcfmjv82g39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769307324915-bc5di09l94o3igefj6cc0rcfmjv82g39</string>
	<key>API_KEY</key>
	<string>AIzaSyCKnrn2Ob7YGpdzUC3h5j_0PGSQYVyOXZk</string>
	<key>GCM_SENDER_ID</key>
	<string>769307324915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.binder</string>
	<key>PROJECT_ID</key>
	<string>binder-b38fd</string>
	<key>STORAGE_BUCKET</key>
	<string>binder-b38fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769307324915:ios:e692e8c14f1b123b602286</string>
</dict>
</plist>